@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor1: #FFFFFF;
    --cor2: #F8FAFC;
    --cor3: #D2D5DA;
    --cor4: #4E80EE;
    --cor5: #030616;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para mobile até 640px */
body {
    font-family: 'Inter', sans-serif;
    color: var(--cor5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}

header {
    background-color: var(--cor1);
    text-align: center;
    padding: 20px 20px;
}

h1 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.2;
}

main {
    background-color: var(--cor2);
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    width: 100%;
    text-align: left;
    background-color: var(--cor1);
    padding: 30px 20px;
    border-radius: 8px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
}

.container h2:first-child {
    margin-top: 0;
}

p {
    margin-bottom: 15px;
}

ol, ul {
    margin-bottom: 20px;
    padding-left: 25px;
}

ol li, ul li {
    margin-bottom: 10px;
}

ul li {
    list-style-type: disc;
}

strong {
    font-weight: 600;
}

a {
    color: var(--cor4);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid var(--cor3);
    margin: 30px 0;
}

/* Estilo para tablets de 641px até 1024px */
@media (min-width: 1025px) {
    header {
        padding: 80px 40px;
    }

    .container {
        padding: 40px;
    }
}

 /* Estilo para desktops de 1025px até 1280px */
@media (min-width: 1025px) {
    header {
        padding: 80px 40px;
    }

    .container {
        padding: 50px
    }
}
